* text=auto
*.officeUI=xml eol=crlf
*.bas text eol=crlf
*.cls text eol=crlf

*.xml linguist-language=XML
*.xaml linguist-language=XML
*.officeUI linguist-language=XML
*.reg linguist-language=INI
*.OTM linguist-binary=true
*.OTD linguist-binary=true

[*.bas]
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.cls]
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.xml]
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.xaml]
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

